<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Proyecto Alumnos MVC - @ViewBag.Title</title>

    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-3.4.0.min.js"></script>

</head>
<body>
    <div class="jumbotron container-fluid h-25">
        <h3 class="float-md-left"> Aplicación Cursos Estudiantes</h3>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/ini.js"></script>
    <script src="~/assets/js/jquery.form.js"></script>
</body>
</html>
